body{
	margin: 0;
	min-width: 600px;
}
.box{
	left: 0;
	right: 0;
	font-size: 0;
	position: relative;
	overflow-x: hidden;
}
.box-img{
	width: 100%;

}
#right-menu{
	position: fixed;
	right:0; 
	width: 40px;
	top: 50%;
	z-index: 1000;
}
.right-menu-btn{
	position: relative;
	height: 40px;
	width: 100%;
	z-index: 1000;
}
.romb{
	height: 18px;
	width: 18px;
	background-color: rgba(0 , 0 , 0 , 0.8);
	border: solid #aaa 2px;
	transform: translate(-50%,-50%) rotate(45deg);
	top: 50%;
	bottom: 50%;
	position: absolute;
	transition-duration: 200ms;
	transition-property: border-color;
	left: 0;
}
.right-menu-btn-text{
	position: absolute;
	font-size: 10px;
	right: 48px;
	color: #aaa;
	padding: 10px;
	font-size: 25px;
	text-shadow: 0 0 10px #000;
	opacity: 0;
	transform: translateX(100%);
	transition-duration: 200ms;
	transition-property: transform, opacity;
	top: 1px;
	text-align: top;

}
#right-menu:hover .right-menu-btn-text{
	transform: translateX(0);
	opacity: 1;
}
.h-romb{
	height: 16px;
	width: 16px;
	transform: translate(-50%,-50%) rotate(45deg);
	position: absolute;
	background-color: #fff;
	opacity: 0;
	z-index: 1;
	top: 50%;
	left: 0;
	transition-duration: 200ms;
	transition-property: opacity;
}
.right-menu-btn:hover .h-romb{
opacity: 1;
}
.right-menu-btn:hover .romb{
	border-color: #fff;
}
#top-menu{
	top: 0;
	position: fixed;
	color: #4ff;
	text-shadow: 0 0 10px #000;
	left: 80px;
	z-index: 1000;
	height:33px;
}
#top-menu a{
	text-decoration: none;
	font-size: 40px;
}
.top-menu-btn{
	color: #fff;
	padding: 5px;
	height: 30px;
	display: inline-block;
	font-size: 25px;
	transition-duration: 200ms;
	transition-property:background-color;
	border-left: solid transparent 2px;
	border-right:solid transparent 2px;
	transition-property: background-color ;
	transition-duration:200ms;
	overflow: hidden;
	z-index: 100;
}
.top-menu-btn:hover{
	background-color:#222; 
}
.top-submenu{
	position: absolute;
	z-index: -1;
	left: 0;
	top: 100%;
	transform: translateY(-100%);
	transition-duration: 200ms;
	transition-property: transform, opacity;
	opacity: 0;
	border: solid #333 2px;
	border-top:none;
	transition-duration: 2s;
	transition-property: transform , opacity;
}
.top-menu-btn:hover .top-submenu{
	opacity: 1;
	transform: translateY(0);
}
.top-submenu-btn{
	transition-duration: 200ms;
	transition-property: background-color , color;
	padding: 5px;
	height: 30px;
	font-size: 25px;
	color: #aaa;
}
.top-submenu-btn:hover{
	background-color:rgba(255, 33, 33, 0.6);
	color: #fff;
}
#ramka{
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.line{
	position:absolute;
	background-color: #976;
	z-index: 2;
}
.hor-line{
	height: 2px;
	left: 80px;
	right: 80px;
	top: 40px;
}
.ver-line{
	width: 2px;
	right: 40px;
	top: 80px;
	bottom:80px;
}
.top-line{
	top: 40px;
}
.left-line{
	left: 40px;
}
.right-line{
	right: 40px;
}
.bottom-line{
	bottom: 40px;
}
.box-title{
	font-size: 20px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}

#box1-title{
	text-align: center;
	transform: translateX(-50%);
	left: 50%;
}
.box1-title p{
	font-size: 40px;
	color: #fc0;
	text-shadow: -3px -3px 5px #f00;  
}
.gold-btn{
	height: 40px;
	font-size: 35px;
	color: #000;
	display: inline-block;
	background-color:#aaa;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-shadow: -1px -1px	0 #ec0;
	background-image: linear-gradient(
			to right,
		rgba(184, 164, 44, 0.8) 25%,
		rgba(231, 203, 97, 0.9),
		rgba(184, 164, 44, 0.8) 75%);
	transition-property: background-color;
	transition-duration: 200ms;
	-webkit-clip-path:polygon(
		0% 0%,
		100% 0%,
		100% calc(50% - 7px),
		calc(100% - 7px)50%,
		100% calc(50% + 7px),
		100% 100%,
		0% 100%,
		0% calc(50% - 7px),
		calc(0% + 7px)50%,
		0% calc(50% + 7px)
			);
	}
	.gold-btn:hover{
		background-color: #ff0;
	}
#ramka .img{
	position: absolute;
	width: 80px;
}
#ramka .img-top-left{
	top: 0;
	left: 0;
}
#ramka .img-top-right{
	top: 0 ;
	right:0;
}
#ramka .img-bottom-left{
	bottom: 0;
	left: 0
}
#ramka .img-bottom-right{
	bottom: 0;
	right: 0;
}
#romb-btn{
	border:solid #764 2px;
	background-color: rgba( 0 , 0 , 0 , 0.7);
	display: inline-block;
	transform: rotate(45deg);
	height: 50px;
	width: 50px;
	box-shadow: 0 0 25px #000;	
}
#box2-title{
transform: translateY(-50%);
left: 43px;
right: 0;
}
#box2-title-text .element{
max-width: 600px;
box-shadow: 0 0 20px rgba(0,0,0, 0.5);
background-color:rgba(0,0,0,0.23);
border-radius:20px; 
}
#box2-title-text .element b{
	font-size: 30px;
	color: #b35;
	text-shadow: 0 0 5px #000;
}
#box2-title-text .element img{
width:100%; 
}
#box2-title-text .element p{
	font-size: 20px;
	color: #aaa;
	text-shadow: 0 0 20px #000;
}
#box2-title-gallery{
	position: absolute;
	right: 0;
	top: 50%;
	height: 360px;
	width: 640px;
	transform: translateY(-50%);
	top: 50%;
	border-left: solid #00CFE9 120px;
	border-radius: 30px;
	background-color: #0f0f0f;
}
#box2-title-text{
	left: 5%;
	position: relative;
}
#controls .joystick{
left: -85px;
height: 50px;
width: 50px;
border: double #333 5px;
border-radius: 50%;
background-color: #473;
position: absolute;
top: 70px;
}
#controls .joystick:hover{
transform: rotate(720deg) translateX(5px);
}
#controls .buttons{
position: absolute;
height: 90px;
width: 90px;
top: 170px;
left: -100px;
}
#controls .button{
	position: absolute;
	height: 18px;
	width: 18px;
	background-color:#111 ;
	border-radius:50%;
	color: #fff;
	padding: 6px;
	text-align: center;
	box-shadow: 0 0 10px #000;
	transition-duration: 200ms;
	transition-property: box-shadow;
	cursor: pointer;
}
#controls .button:hover{
	box-shadow: 0 0 3px #000;
}
#controls .button-left{
	left: 0;
	top: 30px;
}
#controls .button-right{
	right: 0;
	top: 30px
}
#controls .button-bottom{
	bottom: 0;
	left: 30px;

}
#controls .button-top{
	top: 0;
	left: 30px
}
#box3-title{
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right:100px;
	width: 512px;
	color: #ddd;
	text-shadow: 0 0 10px #000; 
} 
#box3-title h1{
	color: #959;
	margin: 0;
}
#box3-title hr{
	border-color:#959;

}
#box3-title table{

}
#box3-title .table-img{
	width: 250px;
}
#box3-title .descr{
	position: absolute;
	bottom: 5px;
	font-size: 20px;
	text-align: center;
	width: 100%;
	color: #ddd;
}
#box3-title th{
	border: double rgba(111,99,119, 0.7) 3px;
	font-size: 0;
	position: relative;
}
#box2-title-gallery iframe{
height: 100%;
width: 100%;
}